.about{
    display:flex;
    flex-wrap:row wrap;
    width: 100%;
}
.text{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    text-align:left;
    font-size: x-large;
    font-family: 'Gill Sans';
    font-weight: 500;
}

.name{
    color: rgb(2, 41, 113);
    text-align: center;
}
.stack{
    text-align: center;
}
.ilu{
    background-color: blue;
}
.buttons{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.button {
    border-radius: 4px;
    background-color: #1ec9eb;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.3rem;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}